{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="img-box">
              <img src="{% static 'images/na2.jpg' %}" alt="">
            </div>
          </div>
       
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
  </div>
  
  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          Fresh Fruit
        </h2>
      </div>
    </div>
    <div class="container-fluid">

      <div class="fruit_container">
        {% for i in pr %}
        <a href="{{i.get_url}}">
        <div class="box">
          <img src="{{i.img.url}}" alt="">
          <div class="link_box">
            <h5>
              {{i.name}}
            </h5>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
      </a>
        {% endfor %}
      
      </div>
    </div>
  </section>

 

{% endblock %}
